.title-image {
  animation: slide-in-anim 1.5s ease-out forwards;
}

@keyframes slide-in-anim {
	20% {
		opacity: 0;
	}
	60% {
		transform: translateX(-45%);
	}
	75% {
		transform: translateX(-52%);
	}
	100% {
		opacity: 1;
		transform: translateX(-50%);
	}
}

.button-container, .row, .row-no-padding {
  margin: auto;
  width: 40%;
  display: flex;
  justify-content: space-between;
}

.button-column-left {
  text-align: left; 
  display: block;
  width: 50%;
}

.button-column-right {
  text-align: right; 
  display: block;
  width: 50%;
}

.button-column-center {
  text-align: center; 
  margin: auto;
  display: block;
  width: 40%;
}

.row {
  padding-bottom: 4px;
  width: 65%
}

.row-no-padding {
  width: 65%
}

.large-row {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.main-text-input-container {
  width: 72%;
}

.main-emoji-input-container {
  width: 22%
}

.canvas-background {
  width: 100%;
  height: 100%;
  margin: auto;
  background-color: #EEEEEE;
  overflow-y: auto;
  overflow-x: auto;
  display: flex;
}

.emoji-word {
  margin: auto;
}

.emoji-size-container {
  width: 48%;
}

.secondary-emoji-container {
  width: 48%
}

.collapsed-container {
  margin: auto;
  padding: 4px;
}

.collapsed-disclaimer {
  width: 100%;
  color: #FFFFFF;
  text-align: center;
  margin: auto;
  padding-top: 8px;
  padding-bottom: 16px;
}

@media screen and (max-width:1152px){
  .button-container, .row, .row-no-padding {
    width: 80%;
  }

  .main-text-input-container {
    width: 60%;
  }
  
  .main-emoji-input-container {
    width: 34%
  }

  .button-column-center {
    width: 65%;
  }
}

@media screen and (max-width:768px){
  .main-text-input-container {
    width: 100%;
  }
  
  .main-emoji-input-container {
    width: 100%
  }

  .large-row {
    padding-top: 4px;
  }

  .emoji-size-container {
    width: 100%;
  }
  
  .secondary-emoji-container {
    width: 100%
  }

  .button-column-center {
    width: 100%;
  }
}