.navbar {
    width: 100%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    display: flex;
    justify-content: space-around;
    /* background-color: rgb(132, 143, 199, 0.0);
    border-bottom: 0.3rem solid #4a567e00; */
}

.title {
    margin: 0;
    font-size: 2.4em;
    color: #FFFFFF;
}

.github {
    margin: 0;
    width: 62px;
    height: 62px;
    padding-top: 2px;
    float: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* Filters generated here: https://angel-rs.github.io/css-color-filter-generator/ */
    filter: brightness(0) saturate(100%) invert(99%) sepia(4%) saturate(2%) hue-rotate(280deg) brightness(109%) contrast(76%);
}

.github:hover {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}

.child-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    float: left;
    position: relative;
    flex: 50%;
    margin-left: 2%;
}

.child-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    float: right;
    position: relative;
    flex: 50%;
    margin-right: 2%;
}

@media screen and (max-width:1152px){
    .github {
        width: 48px;
        height: 48px;
    }

    .navbar {
        padding-top: 2%;
        padding-bottom: 2%;
    }
}

@media screen and (max-width:500px){
    .title {
        margin: 0;
        font-size: 1.5em;
        color: #FFFFFF;
    }
}

@media screen and (max-width:400px){
    .title {
        margin: 0;
        font-size: 1.2em;
        color: #FFFFFF;
    }
}