body {
    margin: 0;
    padding: 0;
    background: linear-gradient(-45deg, #29b1ff, #503ce7, #be1aff, #ff3e58);
	background-size: 400% 400%;
	animation: gradient 20s ease infinite;
	height: 100vh;
}

canvas {
    display: none;
}

.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content-container {
    flex: 1;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
